# tries avoiding Error: remove_overlap: Graphviz not built with triangulation library
dist: bionic
# see https://docs.travis-ci.com/user/languages/python/
language: python
# python versions to be tested
python:
#  - "2.7" # see https://github.com/WolfgangFahl/gremlin-python-tutorial/issues/7
  - "3.6"
  - "3.7" 
  - "3.8" 
  - "3.9"
# allow gui output
services:
  - xvfb
before_install:
  # install some renderers
  # check version
  - lsb_release -a
install:
  - echo $USER
# command to run tests
script:
  # command to install dependencies
  - scripts/install
  - scripts/test
